@media (max-width: 767.98px) {
  .hero-btn-wrapper .btn {
    margin-right: 0; }
    .hero-btn-wrapper .btn-outline-primary {
      margin-top: 20px; }
  .logo-grid__item {
    -webkit-flex-basis: 50%;
    -ms-flex-basis: 50%;
    flex-basis: 50%; }
  .review-item {
    margin-bottom: 50px; } }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

*, ::after, ::before {
  box-sizing: border-box; }

footer, header, main, div, nav, section {
  display: block; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: white; }

img, section {
  position: relative; }

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none; }

a:focus, a:hover, a:visited {
  text-decoration: none !important;
  outline: 0 !important; }

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 0px;
  padding-right: 0px; }
  @media (max-width: 767.98px) {
    .ptb-100 {
      padding-top: 50px;
      padding-bottom: 50px; } }

.ptb-70 {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 0px;
  padding-right: 0px; }
  @media (max-width: 767.98px) {
    .ptb-70 {
      padding-top: 35px;
      padding-bottom: 35px; } }

.ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0px;
  padding-right: 0px; }
  @media (max-width: 767.98px) {
    .ptb-50 {
      padding-top: 25px;
      padding-bottom: 25px; } }

.top-buffer {
  margin-top: 16px; }

/* NAVBAR FROPDOWN HOVER*/
.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
  background-color: #e7e7e7;
  color: #555555; }

li.dropdown:hover > .dropdown-menu {
  display: block; }

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  background-color: white; }
  .navbar a {
    color: black; }
    .navbar a:hover {
      color: #0090d9; }
  .navbar .nav-item {
    padding-left: 10px; }
  .navbar .navbar-collapse {
    margin-left: 30px; }
  .navbar .btn {
    background-color: #0090d9;
    max-height: 40px;
    width: 100px;
    padding: 9px;
    margin-right: 10px;
    font-weight: 600;
    font-size: 13px;
    border-radius: 0%; }
    .navbar .btn-outline-primary {
      margin-right: 70px;
      color: #0090d9;
      background-color: white; }
      .navbar .btn-outline-primary:hover {
        color: white;
        background-color: #0090d9; }

.hero {
  margin-top: 70px;
  color: white; }
  .hero .jumbotron {
    background-image: url("../images/hero_bg.jpg");
    background-size: cover;
    height: 100%;
    background-position: 10% 70%;
    margin-bottom: 0px; }
  .hero h1 {
    font-size: 48px; }

.hero-btn-wrapper .btn {
  background-color: #0090d9;
  height: 40px;
  width: 260px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 2px;
  margin-right: 10px; }
  .hero-btn-wrapper .btn-outline-primary {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: white; }
    .hero-btn-wrapper .btn-outline-primary:hover {
      color: black;
      background-color: white; }

.more-section {
  margin: 0;
  padding: 30px 0 10px 0;
  background-color: #3d3a35;
  color: white;
  font-weight: bold; }
  .more-section a {
    color: orange;
    transition: .5s all; }
    .more-section a:hover {
      margin-left: 5px; }

.review-section {
  padding: 30px 0 10px 0;
  background-color: #f3f3f3;
  color: #5a5a5a;
  font-weight: bold;
  text-align: center; }
  .review-section h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap; }
  .review-section h6 {
    font-size: 13px;
    font-weight: normal;
    line-height: 30px; }
  .review-section img {
    margin-left: auto;
    margin-right: auto;
    width: 50%; }
  .review-section .course-img {
    max-width: 300px; }
  .review-section .quora-img {
    max-width: 150px; }
  .review-section .google-img {
    max-width: 70px; }
  .review-section .bordered {
    border-left: .3px dashed lightgray; }

.more-review-section h1 {
  font-size: 36px;
  padding-bottom: 10px; }

.more-review-section p {
  font-size: 14px;
  line-height: 1.5rem;
  padding-bottom: 4px; }

.more-review-section .col {
  border-radius: 10px;
  border-color: black;
  margin-bottom: 20px; }

.logo-grid {
  margin-top: -15px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none; }
  .logo-grid__item {
    padding: 0 15px 30px 15px;
    background: white;
    -webkit-flex-basis: 20%;
    -ms-flex-basis: 20%;
    flex-basis: 20%; }
    @media (max-width: 767.98px) {
      .logo-grid__item {
        -webkit-flex-basis: 50%;
        -ms-flex-basis: 50%;
        flex-basis: 50%; } }
    .logo-grid__item .div {
      -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3); }
  .logo-grid__image {
    width: 100%; }

.onsite-remote-section {
  color: white; }
  .onsite-remote-section .onsite-grid {
    display: flex;
    flex-direction: row; }
    @media (max-width: 767.98px) {
      .onsite-remote-section .onsite-grid {
        flex-direction: column; } }
    .onsite-remote-section .onsite-grid__column {
      display: flex;
      padding-top: 20px;
      flex-grow: 1; }
      .onsite-remote-section .onsite-grid__column--orange {
        padding-right: 30px;
        justify-content: flex-end;
        background-color: #de7c01; }
      .onsite-remote-section .onsite-grid__column--blue {
        padding-left: 30px;
        padding-right: 40px;
        justify-content: center;
        flex-basis: 400px;
        background-color: #0090d9;
        flex-grow: 0; }
      .onsite-remote-section .onsite-grid__column--seablue {
        justify-content: flex-start;
        background-color: #00b298; }
    .onsite-remote-section .onsite-grid__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      margin-left: 15px;
      text-align: center; }
      @media (min-width: 768px) {
        .onsite-remote-section .onsite-grid__content {
          flex-basis: 350px; } }
  .onsite-remote-section .div {
    margin-top: 10px;
    margin-bottom: 30px; }
  .onsite-remote-section .btn {
    font-weight: 300;
    border-radius: 2px; }
    .onsite-remote-section .btn-outline-primary {
      color: white;
      background-color: rgba(255, 255, 255, 0);
      border-color: white; }
      .onsite-remote-section .btn-outline-primary:hover {
        color: black;
        background-color: white; }
  .onsite-remote-section h1 {
    font-size: 26px; }
  .onsite-remote-section h2 {
    font-size: 18px; }
  .onsite-remote-section p {
    font-size: 13px;
    line-height: 1.5rem; }

.download-section .download-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #de7c01; }

.download-section h1 {
  padding-bottom: 20px;
  text-align: center;
  color: #de7c01;
  font-size: 24px;
  font-weight: 600;
  line-height: 2.5rem; }

.download-section .btn {
  background-color: #de7c01;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 1px;
  border-style: solid;
  border-color: #de7c01;
  transition: .5s all; }
  .download-section .btn:hover {
    background-color: #f78a01; }

.recommendation-section {
  display: flex;
  flex-wrap: wrap; }
  .recommendation-section .col-md-4 {
    padding: 0; }
  @media (max-width: 767.98px) {
    .recommendation-section .mid {
      position: absolute;
      top: 220px;
      left: 15%; }
    .recommendation-section .card-img-bottom {
      position: absolute;
      bottom: 175px; } }
  .recommendation-section .card {
    background-color: #d0d0d0;
    border: none;
    min-height: 510.5px; }
    @media (max-width: 767.98px) {
      .recommendation-section .card {
        margin-bottom: 20px;
        margin-top: 20px;
        min-height: 410.5px; } }
    .recommendation-section .card img {
      display: block;
      width: 100%; }
    .recommendation-section .card p {
      font-size: 14px;
      padding: 30px 0px 0px; }
    .recommendation-section .card cite {
      color: #0090d9;
      font-size: 14px;
      padding-bottom: 10px; }

@media (max-width: 767.98px) {
  .attention-section h1 {
    padding-top: 10px;
    padding-bottom: 0;
    font-size: 32px; } }

.attention-section .attention-grid {
  text-align: center; }
  .attention-section .attention-grid .col-md-4 {
    max-width: 370px;
    height: 180px;
    opacity: 0.8;
    transition: .5s all; }
    @media (max-width: 767.98px) {
      .attention-section .attention-grid .col-md-4 {
        margin-bottom: 10px; } }
    .attention-section .attention-grid .col-md-4:hover {
      opacity: 1; }
  .attention-section .attention-grid .grid-label {
    display: block;
    max-width: 370px;
    height: 180px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-shadow: black 1px 0 10px; }
  .attention-section .attention-grid img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: brightness(50%); }
  .attention-section .attention-grid span {
    position: relative;
    top: 34%; }

.getstarted-wrapper {
  padding-bottom: 100px;
  padding-top: 100px; }
  .getstarted-wrapper h1 {
    font-size: 48px;
    color: white; }
    @media (max-width: 767.98px) {
      .getstarted-wrapper h1 {
        font-size: 32px; } }
  .getstarted-wrapper .gestarted-btn-wrapper {
    margin-top: 40px; }
    @media (max-width: 767.98px) {
      .getstarted-wrapper .gestarted-btn-wrapper {
        margin-top: 20px; } }
  .getstarted-wrapper .btn {
    background-color: #de7c01;
    border-color: #de7c01;
    height: 40px;
    width: 260px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 2px;
    margin-right: 10px; }
    .getstarted-wrapper .btn-outline-primary {
      color: white;
      background-color: rgba(255, 255, 255, 0.2);
      border-color: white; }
      @media (max-width: 767.98px) {
        .getstarted-wrapper .btn-outline-primary {
          margin-top: 10px; } }
      .getstarted-wrapper .btn-outline-primary:hover {
        color: black;
        background-color: white; }

@media (max-width: 767.98px) {
  .news h1 {
    padding-top: 10px;
    font-size: 24px; } }

.news .news-item {
  padding-right: 10px;
  margin-top: 20px;
  border-right: 1px solid #e2e2e2; }
  @media (max-width: 767.98px) {
    .news .news-item {
      border: none; } }
  .news .news-item__last {
    border: none;
    padding-right: 30px; }

.news .news-image {
  max-width: 180px;
  height: 60px;
  margin-left: auto;
  margin-right: auto; }

.news p {
  padding-top: 20px;
  text-decoration: none;
  color: black;
  line-height: 1.5rem;
  font-size: 14px; }

.footer {
  background: #0090d9; }
  .footer .footer-top {
    padding-bottom: 10px;
    border-bottom: dotted .5px;
    border-color: #b3b3b3; }
    @media (max-width: 767.98px) {
      .footer .footer-top {
        display: flex;
        justify-content: center;
        flex-direction: column; } }
    .footer .footer-top .footer-left-wrapper {
      padding-top: 30px; }
      @media (max-width: 767.98px) {
        .footer .footer-top .footer-left-wrapper {
          display: flex;
          justify-content: center; } }
      .footer .footer-top .footer-left-wrapper .footer-image {
        max-width: 200px;
        height: 50px; }
        @media (max-width: 767.98px) {
          .footer .footer-top .footer-left-wrapper .footer-image {
            padding-right: 20px; } }
    @media (max-width: 767.98px) {
      .footer .footer-top .footer-right-wrapper .form-control {
        width: 100%; }
      .footer .footer-top .footer-right-wrapper .input-group {
        display: inline-flex;
        align-items: center;
        justify-content: center; }
      .footer .footer-top .footer-right-wrapper .btn {
        margin-top: 16px; } }
    .footer .footer-top .footer-right-wrapper h1 {
      color: white;
      font-size: 14px;
      font-weight: bold; }
    .footer .footer-top .footer-right-wrapper .btn {
      margin-left: 20px; }
      .footer .footer-top .footer-right-wrapper .btn-primary {
        color: white;
        font-weight: bold;
        background-color: #0090d9;
        border-color: white;
        border-radius: 2%; }
        .footer .footer-top .footer-right-wrapper .btn-primary:hover {
          background: white;
          color: black; }
    .footer .footer-top .footer-right-wrapper .form-control {
      background: #d0d0d0;
      font-size: 13px; }
  .footer .footer-mid {
    padding-top: 30px; }
    @media (max-width: 767.98px) {
      .footer .footer-mid {
        padding-top: 10px; } }
    .footer .footer-mid .footer-listing {
      display: inline-block;
      padding: 0;
      margin: 0;
      font-size: 15px;
      line-height: 22px;
      text-decoration: none;
      list-style: none; }
      @media (max-width: 767.98px) {
        .footer .footer-mid .footer-listing {
          padding-top: 0px;
          display: flex;
          justify-content: center;
          text-align: center;
          flex-direction: column;
          padding-bottom: 20px; } }
      .footer .footer-mid .footer-listing .footer-item {
        line-height: 2.5rem; }
        .footer .footer-mid .footer-listing .footer-item a {
          color: white;
          transition: .2s all; }
          .footer .footer-mid .footer-listing .footer-item a:hover {
            padding-left: 10px; }
    .footer .footer-mid .listing-label {
      font-size: 16px;
      color: white;
      font-weight: bold;
      text-transform: uppercase; }
      @media (max-width: 767.98px) {
        .footer .footer-mid .listing-label {
          display: flex;
          justify-content: center;
          text-align: center;
          flex-direction: column;
          padding-top: 20px;
          border-top: dotted .5px;
          border-color: #b3b3b3; }
          .footer .footer-mid .listing-label--first {
            border: none; } }
  .footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px; }
    .footer .footer-bottom .bottom-wrapper {
      color: white;
      font-size: 13px; }
      @media (max-width: 767.98px) {
        .footer .footer-bottom .bottom-wrapper {
          text-align: center;
          justify-content: center;
          flex-direction: column; } }
    .footer .footer-bottom .terms-wrapper {
      margin-left: auto;
      float: right; }
      @media (max-width: 767.98px) {
        .footer .footer-bottom .terms-wrapper {
          margin: 0;
          text-align: center;
          justify-content: center;
          flex-direction: column; } }
    .footer .footer-bottom .footer-link {
      text-decoration: none;
      color: white; }
      .footer .footer-bottom .footer-link a {
        text-decoration: none;
        color: white; }
