// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@include media-breakpoint-down(sm) { 
  .hero-btn-wrapper {
    .btn {
      margin-right: 0;
      &-outline-primary{
        margin-top: 20px;
      }
    }
  }

  .logo-grid{
     &__item{
      -webkit-flex-basis: 50%;
      -ms-flex-basis: 50%;
      flex-basis: 50%;
    }
  }

  .review-item{
    margin-bottom: 50px;
  }
}



*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0;
  padding:0;
}
*, ::after, ::before {
  box-sizing: border-box;
}

footer, header, main, div, nav, section {
  display: block;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

img, section {
  position: relative;
}

img{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

a:focus, a:hover, a:visited {
  text-decoration: none!important;
  outline: 0!important;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 0px;
  padding-right: 0px;
  @include media-breakpoint-down(sm) { 
    padding-top: 50px;
    padding-bottom: 50px;
  }

}

.ptb-70 {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 0px;
  padding-right: 0px;
  @include media-breakpoint-down(sm) { 
    padding-top: 35px;
    padding-bottom: 35px;
  }

}

.ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0px;
  padding-right: 0px;
  @include media-breakpoint-down(sm) { 
    padding-top: 25px;
    padding-bottom: 25px;
  }

}

.top-buffer { margin-top: 16px; }

/* NAVBAR FROPDOWN HOVER*/
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  background-color: white;

  a{
    color: black;

    &:hover{
      color: #0090d9;
    }
  }

  .nav-item{
    padding-left: 10px;
  }

  .navbar-collapse {
    margin-left: 30px;
  }

  .btn {
    background-color: #0090d9;
    max-height: 40px; 
    width: 100px;
    padding: 9px;
    margin-right: 10px;
    font-weight: 600;
    font-size: 13px;

    border-radius: 0%;


    &-outline-primary{
      margin-right: 70px;
      color: #0090d9;
      background-color: white;

      &:hover {
        color: white;
        background-color: #0090d9;
      }
    }
  }
  
}

.hero {
  margin-top: 70px;
  color: white;

  .jumbotron{
    background-image: url("../images/hero_bg.jpg");
    background-size: cover;
    height: 100%;
    background-position: 10% 70%;
    margin-bottom: 0px;
  }

  h1 {
    font-size: 48px;
  }
}

.hero-btn-wrapper {
  .btn {
    background-color: #0090d9;
    height: 40px; 
    width: 260px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 2px;
    margin-right: 10px;

    &-outline-primary{
      color: white;
      background-color: transparentize($color: white, $amount: .8);
      border-color: white;

      &:hover {
        color: black;
        background-color: white;
      }
    }
  }
}

.more-section {
  margin: 0;
  padding: 30px 0 10px 0;
  background-color: #3d3a35;
  color: white;
  font-weight: bold;
  
  a{
    color: orange;
    transition: .5s all;
    &:hover {
      margin-left: 5px;
    }
  }
}

.review-section {
  padding: 30px 0 10px 0;
  background-color: lighten($color: gray, $amount: 45);
  color: darken($color: gray, $amount: 15);
  font-weight: bold;
  text-align: center;

  h5{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
  }

  h6{
    font-size: 13px;
    font-weight: normal;
    line-height: 30px;
  }
  
  img{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .course-img{
     max-width: 300px;
  }

  .quora-img{
    max-width: 150px;
  }

  .google-img{
    max-width: 70px;
  }

  .bordered {
    border-left: .3px dashed lightgray;
  }
 
}

.more-review-section {
  h1 {
    font-size: 36px;
    padding-bottom: 10px;
  }
  p{
    font-size: 14px;
    line-height: 1.5rem;
    padding-bottom: 4px;
  }

  .col {
    border-radius: 10px;
    border-color: black;
    margin-bottom: 20px;
  }
}

.logo-grid{
  margin-top: -15px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  &__item{
    padding: 0 15px 30px 15px;
    background: white;
    -webkit-flex-basis: 20%;
    -ms-flex-basis: 20%;
    flex-basis: 20%;
    @include media-breakpoint-down(sm) { 
      -webkit-flex-basis: 50%;
      -ms-flex-basis: 50%;
      flex-basis: 50%;
    }
    .div{
      -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.3);
      -moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.3);
      box-shadow: 1px 1px 5px 0 rgba(0,0,0,.3);
    }
  }

  &__image{
    width: 100%;
  }
}

.onsite-remote-section {
  color: white;

  .onsite-grid {
    display: flex;
    flex-direction: row; //min col
    @include media-breakpoint-down(sm) { 
      flex-direction: column;
    }

    &__column {
      display: flex;
      padding-top: 20px;
      flex-grow: 1;

      &--orange {
        padding-right: 30px;
        justify-content: flex-end;
        background-color: #de7c01;
      }
  
      &--blue {
        padding-left: 30px;
        padding-right: 40px;
        justify-content: center;
        flex-basis: 400px;
        background-color: #0090d9;
        flex-grow: 0;
      }
  
      &--seablue {
        justify-content: flex-start;
        background-color: #00b298;
      }
    }

    &__content {
      display: flex;
      flex-direction: column; 
      justify-content: space-between;
      width: 100%;
      margin-left: 15px;
      text-align: center;
      @include media-breakpoint-up(md) { 
        flex-basis: 350px;
      }
      
    }
    
   
  }

  .div {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .btn {
    font-weight: 300;
    border-radius: 2px;

    &-outline-primary{
      color: white;
      background-color: transparentize($color: white, $amount: 1);
      border-color: white;

      &:hover {
        color: black;
        background-color: white;
      }
    }
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 13px;
    line-height: 1.5rem;
  }
}

.download-section{
  .download-wrapper{
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #de7c01;
  }
  
  h1{
    padding-bottom: 20px;
    text-align: center;
    color: #de7c01;
    font-size: 24px;
    font-weight: 600;
    line-height: 2.5rem;
  }

  .btn {
    background-color: #de7c01;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 1px;
    border-style: solid;
    border-color: #de7c01;

    transition: .5s all;

    &:hover {
      background-color: lighten($color: #de7c01, $amount: 5);
    }

  }
}

.recommendation-section {
    display: flex;
    flex-wrap: wrap;

  .col-md-4{
    padding: 0;
  }


  @include media-breakpoint-down(sm) { 
    .mid{
      position: absolute;
      top: 220px;
      left: 15%;
    }

    .card-img-bottom {
      position: absolute;
      bottom: 175px;
    }
  }

  .card {
    background-color: #d0d0d0;
    border: none;
    min-height: 510.5px;
    @include media-breakpoint-down(sm) { 
      margin-bottom: 20px;
      margin-top: 20px;
      min-height: 410.5px;
    }

    img {
      display: block;
      width: 100%;
    }

    p{
      font-size: 14px;
      padding: 30px 0px 0px;
    }

    cite {
      color: #0090d9;
      font-size: 14px;
      padding-bottom: 10px;
    }
   
  }
}

.attention-section {
  h1 {
    @include media-breakpoint-down(sm) { 
      padding-top: 10px;
      padding-bottom: 0;
      font-size: 32px;
    }
  }

  .attention-grid{
    text-align: center;

    .col-md-4{
      max-width: 370px;
      height: 180px;
      @include media-breakpoint-down(sm) { 
        margin-bottom: 10px;
        
      }
     opacity:0.8;
     transition: .5s all;
     &:hover {
        opacity:1;
     }
    }

    .grid-label{
      display: block;
      max-width: 370px;
      height: 180px;
      font-weight: bold;
      text-decoration: none;
      color: white;
      text-shadow: black 1px 0 10px; 
      
    }

    img{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
      filter: brightness(50%);
    }
    span {
      position: relative;
      top: 34%;
    }
    
  }
}

.getstarted-wrapper {
  padding-bottom: 100px;
  padding-top: 100px;

  h1 {
    font-size: 48px;
    color: white;
    @include media-breakpoint-down(sm) { 
      font-size: 32px;
    }
  }

  .gestarted-btn-wrapper {
    margin-top:40px;
    @include media-breakpoint-down(sm) { 
      margin-top:20px;
    }
  }
  
  .btn {
    background-color: #de7c01;
    border-color: #de7c01;
    height: 40px; 
    width: 260px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 2px;
    margin-right: 10px;
  
    &-outline-primary{
      color: white;
      background-color: transparentize($color: white, $amount: .8);
      border-color: white;

      @include media-breakpoint-down(sm) { 
        margin-top:10px;
      }
  
      &:hover {
        color: black;
        background-color: white;
      }
    }
  }
}

.news {
  h1{
    @include media-breakpoint-down(sm) { 
      padding-top: 10px;
      font-size: 24px;
    }
  }
  .news-item {
    padding-right: 10px;
    margin-top: 20px; 
    border-right: 1px solid #e2e2e2;
    @include media-breakpoint-down(sm) { 
      border: none;
    }

    &__last{
      border: none;
      padding-right: 30px;
    }
  }

  .news-image {
    max-width: 180px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    padding-top: 20px;
    text-decoration: none;
    color: black;
    line-height: 1.5rem;
    font-size: 14px;
  }
}

.footer {
  background: #0090d9;

  .footer-top {
    @include media-breakpoint-down(sm) { 
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    padding-bottom: 10px;
    border-bottom: dotted .5px;
    border-color: darken($color: white, $amount: 30);

    .footer-left-wrapper {
      @include media-breakpoint-down(sm) { 
        display: flex;
        justify-content: center;
      }
      padding-top: 30px;
      
      .footer-image {
        max-width: 200px;
        height: 50px;
        @include media-breakpoint-down(sm) { 
          padding-right: 20px;
        }
      }
    }

    .footer-right-wrapper {
      @include media-breakpoint-down(sm) { 
        .form-control {
          width: 100%;
        }
        .input-group {
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }

        .btn {
          margin-top: 16px;
        }

      }
      h1 {
        color: white;
        font-size: 14px;
        font-weight: bold;
      }
      .btn {
        margin-left: 20px;
        &-primary{
          color: white;
          font-weight: bold;
          background-color: #0090d9;
          border-color: white;
          border-radius: 2%;
          &:hover {
            background: white;
            color: black;
          }
        }
      }
  
      .form-control {
        background: #d0d0d0;
        font-size: 13px;
      }
    }

  }

  .footer-mid {
    padding-top: 30px;
    @include media-breakpoint-down(sm) {
      padding-top: 10px;
    }
    .footer-listing {
      @include media-breakpoint-down(sm) {
        padding-top: 0px;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;

        padding-bottom: 20px;
      }
      display: inline-block;
      padding: 0;
      margin: 0;
      font-size: 15px;
      line-height: 22px;
      text-decoration: none;
      list-style: none;

      .footer-item {
        line-height: 2.5rem;
        a {
          color: white;
  
          transition: .2s all;
          &:hover {
            padding-left: 10px;
          }
        }
      }
      
    }

    .listing-label {
      font-size: 16px;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      @include media-breakpoint-down(sm) {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding-top: 20px;
        border-top: dotted .5px;
        border-color: darken($color: white, $amount: 30);

        &--first {
          border: none;
        }
      }
    }
  }

  .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    
    .bottom-wrapper{
      color: white;
      font-size: 13px;
      @include media-breakpoint-down(sm) {
        text-align: center;
        justify-content: center;
        flex-direction: column;
      }
    }
    .terms-wrapper {
      margin-left: auto;
      float: right;
      @include media-breakpoint-down(sm) {
        margin: 0;
        text-align: center;
        justify-content: center;
        flex-direction: column;
      }
    }

    .footer-link {
      text-decoration: none;
      color: white;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }


}



